.general {
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.general__nav {
    background-color: white;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    margin-bottom: 3rem;
}

.general-ttl {
    text-align: left;
    border-left: 0.6rem solid black;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}

.general__list {
    margin: 0.3rem 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.general__item {
    list-style: none;
}

.general__link {
    font-size: 1rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.general__item-box {
    display: inline-flex;
    align-items: center;
    background-color: #9e9b9b;
}

.general__link--day {
    color: #9e9b9b;
}

.general__item-date {
    display: inline-block;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0.25rem;
}

.general__item-day {
    color: #9e9b9b;
    font-weight: 600;
}

.general__table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border-collapse: collapse;
    table-layout: fixed;
    /* 幅が均等になる*/
}

.general__data {
    text-align: center;
    word-break: break-all;
    /* 折り返す*/
    letter-spacing: 0.1em;
    /* 文字幅を広げる*/
}

.general__label,
.general__data {
    border-bottom: 0.2rem solid #ebe8e8;
    padding: 0.7rem;
    color: #9e9b9b;
    font-weight: 600;
}

.general__link--detail {
    color: black;
}