.show {
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.show-ttl {
    text-align: left;
    border-left: 0.6rem solid black;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.show__table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border-collapse: collapse;
    table-layout: fixed;
    /* 幅が均等になる*/
    margin-top: 2rem;
}

.show__label,
.show__data {
    border-bottom: 0.2rem solid #ebe8e8;
    font-weight: 600;
}

.show__label {
    padding: 1.5rem 1.5rem 1.5rem 5rem;
    text-align: left;
    width: 30%;
    color: #9e9b9b;
}

.show__data {
    width: 70%;
    word-break: break-all;
    /* 折り返す*/
    letter-spacing: 0.1em;
    /* 文字幅を広げる*/
    color: black;
}

.show__data-box {
    gap: 4rem;
    display: flex;
    margin: 1rem 0;
}

.show__data-input {
    border: solid 1px rgb(195, 195, 199);
    height: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    width: 20%;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-align: center;
}

.show__data-span {
    margin-left: 3.5rem;
}

.show__data-name,
.show__data-year {
    margin-left: 1.5rem;
}

.show__data-span--approved {
    margin-left: 8rem;
}

.show__data-span--pending{
    margin-left: 4.5rem;
}

.show__data-textarea {
    width: 65%;
    height: 64px;
    border: solid 1px rgb(195, 195, 199);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

.show__btn-box {
    text-align: right;
    margin: 2rem 0;
}

.show__msg {
    color: #f33b4e;
    font-weight: 500;
    letter-spacing: 0.1em;
    /* 文字幅を広げる*/
}

.show__data-name,
.show__data-textarea,
.show__data-span--textarea {
    word-break: break-all;
    /* 折り返す*/
}